<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaokuix.dao.FeedbackMapper">
  <resultMap id="BaseResultMap" type="com.zhaokuix.pojo.Feedback">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="feedback_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="feedback" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, phone, feedback_date, feedback
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from feedback
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectSelective" parameterType="com.zhaokuix.vo.FeedbackQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from feedback
    <where>
      <choose>
        <when test="id != null and id != ''">
          id = #{id}
        </when>
        <when test="phone != null and phone != ''">
          phone = #{phone}
        </when>
        <when test="feedbackDate != null and feedbackDate != ''">
          feedback_date = #{feedbackDate}
        </when>
        <when test="name != null and name != ''">
          <bind name="pattern" value="'%' + name + '%'" />
          name like #{pattern}
        </when>
      </choose>
    </where>
    <if test="orderBy != null and orderBy != ''">
      order by ${orderBy}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from feedback
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhaokuix.pojo.Feedback">
    insert into feedback (id, name, phone, 
      feedback_date, feedback)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{feedbackDate,jdbcType=DATE}, #{feedback,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaokuix.pojo.Feedback">
    insert into feedback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="feedbackDate != null">
        feedback_date,
      </if>
      <if test="feedback != null">
        feedback,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="feedbackDate != null">
        #{feedbackDate,jdbcType=DATE},
      </if>
      <if test="feedback != null">
        #{feedback,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaokuix.pojo.Feedback">
    update feedback
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="feedbackDate != null">
        feedback_date = #{feedbackDate,jdbcType=DATE},
      </if>
      <if test="feedback != null">
        feedback = #{feedback,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaokuix.pojo.Feedback">
    update feedback
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      feedback_date = #{feedbackDate,jdbcType=DATE},
      feedback = #{feedback,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
