<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaokuix.dao.ReservationMapper">
  <resultMap id="BaseResultMap" type="com.zhaokuix.pojo.Reservation">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="id_card" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gender" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reservation_date" javaType="java.util.Date" jdbcType="DATE" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, phone, id_card, gender, reservation_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reservation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectSelective" parameterType="com.zhaokuix.vo.ReservationQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from reservation
    <where>
      <choose>
        <when test="id != null and id != ''">
          id = #{id}
        </when>
        <when test="phone != null and phone != ''">
          phone = #{phone}
        </when>
        <when test="idCard != null and idCard != ''">
          id_card = #{idCard}
        </when>
        <when test="reservationDate != null and reservationDate != ''">
          reservation_date = #{reservationDate}
        </when>
        <when test="name != null and name != ''">
          <bind name="pattern" value="'%' + name + '%'" />
          name like #{pattern}
        </when>
      </choose>
    </where>
    <if test="orderBy != null and orderBy != ''">
      order by ${orderBy}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reservation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhaokuix.pojo.Reservation">
    insert into reservation (id, name, phone, 
      id_card, gender, reservation_date
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{reservationDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhaokuix.pojo.Reservation">
    insert into reservation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="reservationDate != null">
        reservation_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="reservationDate != null">
        #{reservationDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaokuix.pojo.Reservation">
    update reservation
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="reservationDate != null">
        reservation_date = #{reservationDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaokuix.pojo.Reservation">
    update reservation
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      reservation_date = #{reservationDate,jdbcType=DATE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
